
<p>
    <div>
        @Html.ActionLink("Back to List", "RecordsIndex")
    </div>
    @Html.ActionLink("Gender", "Gender")
    @Html.ActionLink("Birthdate", "Birthdate")
    @Html.ActionLink("Name", "Name")
    @Html.ActionLink("Create", "Create")
</p>
